/* @import "./theme.css";
@import "./scrollbar.css";
@import "./animations.css";
@import "./swiper.css";
@import "./social-icons.css";
@import "./mui-inputs.css";
@import "./datepicker.css";
@import "./luxury-input.css";
@import "./select.css"; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(0, 0, 0);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);

  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: #e7dfd2;
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
}













.tippy-box[data-theme~='Twitter'] {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Instagram'] {
  background-color: #E1306C;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='GitHub'] {
  background-color: #333;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='LinkedIn'] {
  background-color: #0077B5;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Facebook'] {
  background-color: #1877F2;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='WhatsApp'] {
  background-color: #25D366;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Email'] {
  background-color: #D44638;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='YouTube'] {
  background-color: #D44638;
  color: #fff;
  font-size: 14px;
}


.tippy-box[data-theme~='HTML5'] {
  background-color: #E34F26;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='CSS3'] {
  background-color: #1572B6;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Bootstrap'] {
  background-color: #7952B3;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Material_UI'] {
  background-color: #007FFF;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Tailwind_CSS'] {
  background-color: #38BDF8;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='JavaScript'] {
  background-color: #F7DF1E;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='React'] {
  background-color: #61DBFB;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Next_js'] {
  background-color: #000000;
  color: #fff;
  font-size: 14px;
}


.tippy-box[data-theme~='GitHub'] {
  background-color: #333333;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Expo'] {
  background-color: #000020;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Node_js'] {
  background-color: #68A063;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Figma'] {
  background-color: #F24E1E;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Tripadvisor'] {
  background-color: #34E0A1;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Supabase'] {
  background-color: #3FCF8E;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Hostinger'] {
  background-color: #673DE6;
  color: #fff;
  font-size: 14px;
}
.tippy-box[data-theme~='Vercel'] {
  background-color: #000000;
  color: #fff;
  font-size: 14px;
}
